# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/
/out/


# Build #
public/__build__/
/__build__/**
/public/dist/
.webpack.json

# Node Files #
/node_modules/
/bower_components
npm-debug.log


# IDE #
.idea/
*.swp
.vscode/